
<div class="columns events-page-top is-flex is-justified-between">

  <div class="column is-flex">
    <div class="events-page-top__filters-button">
      <a class="button">Filters</a>
    </div>
    <div class="events-page-top__search-button">
      <input #eventsSearchInput class="input" type="text" placeholder="Search...">
    </div>
  </div>

  <div class="column has-text-right">
    <a class="button is-primary events-page-top__create-button" routerLink="create" routerLinkActive="active">Create event</a>
  </div>

</div>

<div class="columns events-page-info">
  <div class="column">
    <h2 class="events-page-info__title">Search results: </h2>
    <p class="events-page-info__number">Total: {{allEvents.length}}</p>
  </div>
</div>

<div class="columns is-multiline">
  <div class="column is-one-third" *ngFor="let event of pageEvents">
    <app-event-preview [eventData]="event"></app-event-preview>
    <a routerLink="{{event.id}}" routerLinkActive="active">Show event</a>
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <ul class="events-page__pagination" *ngIf="pagination.pages && pagination.pages.length">
      <li [ngClass]="{disabled: pagination.currentPage === 1}">
        <a class="button" (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled: pagination.currentPage === 1}">
        <a class="button" (click)="setPage(pagination.currentPage -1)">Previous</a>
      </li>
      <li *ngFor="let page of pagination.pages">
        <a class="button" (click)="setPage(page)" [ngClass]="{'is-primary':pagination.currentPage === page}">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
        <a class="button" (click)="setPage(pagination.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
        <a class="button" (click)="setPage(pagination.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
