.events-page-top{
  margin-top: 20px;
  justify-content: space-between;
}

.events-page-info__title{
  font-size: 24px;
  font-weight: bold;
}

.events-page-top__search-button{
  margin-left: 10px;
}

.events-page__pagination{
  li{
    display: inline;
    margin: 0 5px;
  }
}
