<div class="columns event">
  <div class="column" *ngIf="event.images[0]">
    <img src="{{event.images[0].link}}" alt="">
  </div>
  <div class="column">
    <h1 class="event__title">Title: {{event.title || ''}}</h1>
    <h2 class="event__description">Description: {{event.description || ''}}</h2>
    <button class="event__like button" [ngClass]="{'is-danger': isLiked}" (click)="onLikeClick()">
      {{isLiked ? 'Unlike' : 'Like'}}
    </button>
  </div>
</div>

<div class="columns">
  <div class="column">
    <button class="event__remove button is-danger" (click)="onRemoveClick()">Remove event</button>
    <button class="event__edit button" routerLink="../edit/{{eventId}}" routerLinkActive="active">Edit event</button>
  </div>
</div>




