<!--The content below is only a placeholder and can be replaced.-->

<nav>
  <ul>
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/events">Events</a>
    </li>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="!(isLoggedIn$ | async)">
        <a routerLink="/register">Register</a>
      </li>
    </ng-container>
    <ng-container *ngIf="isLoggedIn$ | async">
      <li>
        <a [routerLink]="['/u', (auth.getUserInfo() | async).username | encodeURI]">Me</a>
      </li>
      <li>
        <button (click)="logout()">Logout</button>
      </li>
    </ng-container>
  </ul>
</nav>

<div style="text-align:center">
  <h1>
    Heyya! It's an spa
  </h1>
</div>

<router-outlet></router-outlet>
