div.columns {
  margin-top: 1rem;
}

.is-vertical-centre {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  &>* {
    margin: 1rem 0;
  }
}

figure.is-256x256 {
  width: 256px;

  &>img {
    display: block;
    width: 100%;
    height: auto;
  }
}
